[
 {burst, []},

 {lager, [
          {log_root, "/tmp"},
          {handlers, [
                      {lager_file_backend, [{file, "burst.error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "burst.notice.log"}, {level, notice}]},
                      {lager_file_backend, [{file, "burst.console.log"}, {level, info}]}
                     ]},
          {async_threshold, 1000},
          {async_threshold_window, 200},
          {error_logger_hwm, 20}
         ]}
].
